<html xmlns="http://www.w3.org/1999/xhtml">
<!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <title>MANEGEMENT</title>
</head>
<html>
<frameset rows="10%,85%" border="0">
    <frame src="top.html" name="top" noresieze="noresize"><这是头部top>

<frameset cols="15%,85%" border="0"><!-- 226 588 -->
   <frame src="menu.html" name="menu" noresieze="noresize"><左边的导航栏>
  <frame src="body.html"  name="body" noresieze="noresize"><右边的主框架><!-- 1123 572|1139 588 -->
</frameset>

</frameset>
</html>
</html>