<!DOCTYPE html>
<html>
<head>
<title>menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
html {
	height: 100%;
}

body {
	height: 100%;
	background: #d9d6c3;
}
</style>
</head>
<body style="margin-left: 20px; margin-top: 20px;">
	<h3>统计</h3>
	<a href="../html/statistics/feeStatisticsList.html" target="body">系统商</a><br/>
	<a href="../html/statistics/refStatisticsList.html" target="body">推荐人佣金</a><br/>
	<h3>交易记录管理</h3>
	<a href="../html/order/orderList.html" target="body">交易记录查询</a><br/>
	<h3>日历管理</h3>
	<a href="../html/calendar/calendarList.html" target="body">日历管理</a><br/>
	<h3>商户管理</h3>
	<a href="../html/merchant/merchantList.html" target="body">商户信息查询</a><br/>
	<a href="../html/referrer/referrerList.html" target="body">推荐人管理</a><br/>
	<h3>费率限额</h3>
	<a href="../html/golbalCfg/golbalCfg.html" target="body">费率限额设置</a><br/>
	<h3>权限</h3>
	<a href="../html/system/resource/moduleList.html" target="body">模块列表</a><br/>
	<a href="../html/system/resource/resourceList.html" target="body">资源列表</a><br/>
	<a href="../html/system/role/roleList.html" target="body">角色列表</a><br/>
	<a href="../html/system/user/userList.html" target="body">用户列表</a><br/>
	<a href="../html/system/refUser/refUserList.html" target="body">推荐人用户</a><br/>
	
	<h3>佣金结算</h3>
	<a href="../html/transfer/TodoTransfer.html" target="body">待结算佣金</a><br/>
	<a href="../html/transfer/SucTransfer.html" target="body">结算成功</a><br/>
	<a href="../html/transfer/FailTransfer.html" target="body">结算失败</a><br/>
	
	<h3>子商户余额</h3>
	<a href="../html/balance/balance.html" target="body">子商户余额</a><br/>
	
</body>
</html>