<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.n.ysb.service.merchantCreditCard.mapper.NnMerchantCreditCardMapper" >
  <resultMap id="BaseResultMap" type="com.n.ysb.service.merchantCreditCard.po.NnMerchantCreditCard" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MERCHANT_MOBILE" property="merchantMobile" jdbcType="VARCHAR" />
    <result column="CARD_CODE" property="cardCode" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MERCHANT_MOBILE, CARD_CODE, CARD_NO, BANK_CODE, BANK_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.n.ysb.service.merchantCreditCard.po.NnMerchantCreditCardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NN_MERCHANT_CREDIT_CARD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from NN_MERCHANT_CREDIT_CARD
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from NN_MERCHANT_CREDIT_CARD
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.n.ysb.service.merchantCreditCard.po.NnMerchantCreditCardExample" >
    delete from NN_MERCHANT_CREDIT_CARD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.n.ysb.service.merchantCreditCard.po.NnMerchantCreditCard" >
    insert into NN_MERCHANT_CREDIT_CARD (ID, MERCHANT_MOBILE, CARD_CODE, 
      CARD_NO, BANK_CODE, BANK_NAME)
    values (#{id,jdbcType=VARCHAR}, #{merchantMobile,jdbcType=VARCHAR}, #{cardCode,jdbcType=VARCHAR}, 
      #{cardNo,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.n.ysb.service.merchantCreditCard.po.NnMerchantCreditCard" >
    insert into NN_MERCHANT_CREDIT_CARD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="merchantMobile != null" >
        MERCHANT_MOBILE,
      </if>
      <if test="cardCode != null" >
        CARD_CODE,
      </if>
      <if test="cardNo != null" >
        CARD_NO,
      </if>
      <if test="bankCode != null" >
        BANK_CODE,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="merchantMobile != null" >
        #{merchantMobile,jdbcType=VARCHAR},
      </if>
      <if test="cardCode != null" >
        #{cardCode,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.n.ysb.service.merchantCreditCard.po.NnMerchantCreditCardExample" resultType="java.lang.Integer" >
    select count(*) from NN_MERCHANT_CREDIT_CARD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update NN_MERCHANT_CREDIT_CARD
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantMobile != null" >
        MERCHANT_MOBILE = #{record.merchantMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.cardCode != null" >
        CARD_CODE = #{record.cardCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null" >
        CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCode != null" >
        BANK_CODE = #{record.bankCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null" >
        BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update NN_MERCHANT_CREDIT_CARD
    set ID = #{record.id,jdbcType=VARCHAR},
      MERCHANT_MOBILE = #{record.merchantMobile,jdbcType=VARCHAR},
      CARD_CODE = #{record.cardCode,jdbcType=VARCHAR},
      CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      BANK_CODE = #{record.bankCode,jdbcType=VARCHAR},
      BANK_NAME = #{record.bankName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.n.ysb.service.merchantCreditCard.po.NnMerchantCreditCard" >
    update NN_MERCHANT_CREDIT_CARD
    <set >
      <if test="merchantMobile != null" >
        MERCHANT_MOBILE = #{merchantMobile,jdbcType=VARCHAR},
      </if>
      <if test="cardCode != null" >
        CARD_CODE = #{cardCode,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.n.ysb.service.merchantCreditCard.po.NnMerchantCreditCard" >
    update NN_MERCHANT_CREDIT_CARD
    set MERCHANT_MOBILE = #{merchantMobile,jdbcType=VARCHAR},
      CARD_CODE = #{cardCode,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>