.input{height: 23px;padding: 0 12px;}
.demo{padding: 1em 0;}
    a:hover,a:focus{
        outline: none;
        text-decoration: none;
    }
    .tab .nav-tabs{
        border: 1px solid #1fc1dd;
    }
    .tab .nav-tabs li{
        margin: 0;
    }
    .tab .nav-tabs li a{
        font-size: 14px;
        color: #999898;
        background: #fff;
        margin: 0;
        padding: 5px 25px;
        border-radius: 0;
        border: none;
        border-right: 1px solid #ddd;
        text-transform: uppercase;
        position: relative;
    }
    .tab .nav-tabs li a:hover{
        border-top: none;
        border-bottom: none;
        border-right-color: #ddd;
    }
    .tab .nav-tabs li.active a,
    .tab .nav-tabs li.active a:hover{
        color: #fff;
        border: none;
        background: #1fc1dd;
        border-right: 1px solid #ddd;
    }
    .tab .nav-tabs li.active a:before{
        content: "";
        width: 58%;
        height: 4px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .tab .nav-tabs li.active a:after{
        content: "";
        border-top: 10px solid #1fc1dd;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 43%;
    }
    .tab .tab-content{
        font-size: 13px;
        color: #999898;
        line-height: 25px;
        background: #fff;
        padding: 20px;
        border: 1px solid #1fc1dd;
        border-top: none;
    }
    .tab .tab-content h3{
        font-size: 24px;
        color: #999898;
        margin-top: 0;
    }
    @media only screen and (max-width: 480px){
        .tab .nav-tabs li{
            width: 100%;
            text-align: center;
        }
        .tab .nav-tabs li.active a,
        .tab .nav-tabs li.active a:after,
        .tab .nav-tabs li.active a:hover{
            border: none;
        }
    }