<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"  xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd 
 	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/mvc    
    http://www.springframework.org/schema/mvc/spring-mvc.xsd  
 	http://www.springframework.org/schema/util 
 	http://www.springframework.org/schema/util/spring-util.xsd
 	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd
	">
	
	
	<context:property-placeholder ignore-unresolvable="true" location="classpath:/system.properties"/>
	<context:property-placeholder ignore-unresolvable="true" location="classpath:/redis.properties"/>
	
	<mvc:annotation-driven/>
	<task:annotation-driven />
	
	<mvc:view-controller path="/" view-name="redirect:/views/html/system/login.html" />
	<mvc:view-controller path="/main" view-name="redirect:/views/in/main.html" />
	<mvc:resources mapping="/views/**" location="/views/" />


	<cache:annotation-driven cache-manager="cacheManager" />
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
					<property name="name" value="default"/>
				</bean>
			</set>
		</property>
	</bean>

	<import resource="classpath*:service-context.xml" />
	<import resource="classpath:shiro.xml" />
	<import resource="classpath*:redis.xml" />
	<import resource="classpath:web-spring/*.xml" />

</beans>