<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.n.ysb.service.system.mapper.NnRoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.n.ysb.service.system.po.NnRoleResource" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
    <result column="RESOURCE_CODE" property="resourceCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ROLE_CODE, RESOURCE_CODE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.n.ysb.service.system.po.NnRoleResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NN_ROLE_RESOURCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from NN_ROLE_RESOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from NN_ROLE_RESOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.n.ysb.service.system.po.NnRoleResourceExample" >
    delete from NN_ROLE_RESOURCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.n.ysb.service.system.po.NnRoleResource" >
    insert into NN_ROLE_RESOURCE (ID, ROLE_CODE, RESOURCE_CODE
      )
    values (#{id,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, #{resourceCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.n.ysb.service.system.po.NnRoleResource" >
    insert into NN_ROLE_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleCode != null" >
        ROLE_CODE,
      </if>
      <if test="resourceCode != null" >
        RESOURCE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceCode != null" >
        #{resourceCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.n.ysb.service.system.po.NnRoleResourceExample" resultType="java.lang.Integer" >
    select count(*) from NN_ROLE_RESOURCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update NN_ROLE_RESOURCE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.roleCode != null" >
        ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceCode != null" >
        RESOURCE_CODE = #{record.resourceCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update NN_ROLE_RESOURCE
    set ID = #{record.id,jdbcType=VARCHAR},
      ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},
      RESOURCE_CODE = #{record.resourceCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.n.ysb.service.system.po.NnRoleResource" >
    update NN_ROLE_RESOURCE
    <set >
      <if test="roleCode != null" >
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceCode != null" >
        RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.n.ysb.service.system.po.NnRoleResource" >
    update NN_ROLE_RESOURCE
    set ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <insert id="insertRoleRess" parameterType="java.util.List" >
    insert into NN_ROLE_RESOURCE (ROLE_CODE, RESOURCE_CODE)
    <foreach collection="list" item="item" index="index" separator="union all" >
		select #{item.roleCode,jdbcType=VARCHAR}, #{item.resourceCode,jdbcType=VARCHAR} 
		from dual
	</foreach>
  </insert>
  
</mapper>