<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.n.ysb.service.withdraw.mapper.NnYeecustomerWithdrawLogMapper" >
  <resultMap id="BaseResultMap" type="com.n.ysb.service.withdraw.po.NnYeecustomerWithdrawLog" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="WITHDRAW_STATUS" property="withdrawStatus" jdbcType="VARCHAR" />
    <result column="OP_USER" property="opUser" jdbcType="VARCHAR" />
    <result column="OP_TIME" property="opTime" jdbcType="TIMESTAMP" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ORDER_NO, WITHDRAW_STATUS, OP_USER, OP_TIME, REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.n.ysb.service.withdraw.po.NnYeecustomerWithdrawLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NN_YEECUSTOMER_WITHDRAW_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.n.ysb.service.withdraw.po.NnYeecustomerWithdrawLogExample" >
    delete from NN_YEECUSTOMER_WITHDRAW_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.n.ysb.service.withdraw.po.NnYeecustomerWithdrawLog" >
    insert into NN_YEECUSTOMER_WITHDRAW_LOG (ID, ORDER_NO, WITHDRAW_STATUS, 
      OP_USER, OP_TIME, REMARKS
      )
    values (#{id,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{withdrawStatus,jdbcType=VARCHAR}, 
      #{opUser,jdbcType=VARCHAR}, #{opTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.n.ysb.service.withdraw.po.NnYeecustomerWithdrawLog" >
    insert into NN_YEECUSTOMER_WITHDRAW_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="withdrawStatus != null" >
        WITHDRAW_STATUS,
      </if>
      <if test="opUser != null" >
        OP_USER,
      </if>
      <if test="opTime != null" >
        OP_TIME,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="withdrawStatus != null" >
        #{withdrawStatus,jdbcType=VARCHAR},
      </if>
      <if test="opUser != null" >
        #{opUser,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.n.ysb.service.withdraw.po.NnYeecustomerWithdrawLogExample" resultType="java.lang.Integer" >
    select count(*) from NN_YEECUSTOMER_WITHDRAW_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update NN_YEECUSTOMER_WITHDRAW_LOG
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.withdrawStatus != null" >
        WITHDRAW_STATUS = #{record.withdrawStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.opUser != null" >
        OP_USER = #{record.opUser,jdbcType=VARCHAR},
      </if>
      <if test="record.opTime != null" >
        OP_TIME = #{record.opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update NN_YEECUSTOMER_WITHDRAW_LOG
    set ID = #{record.id,jdbcType=VARCHAR},
      ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      WITHDRAW_STATUS = #{record.withdrawStatus,jdbcType=VARCHAR},
      OP_USER = #{record.opUser,jdbcType=VARCHAR},
      OP_TIME = #{record.opTime,jdbcType=TIMESTAMP},
      REMARKS = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>