<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../../lib/css/bootstrap-4.0.0.min.css">
<link rel="stylesheet" type="text/css" href="../../../lib/css/userdefined.cz.css">
<link rel="stylesheet" type="text/css" href="../../../lib/js/artDialog/ui-dialog.css">
<script type="text/javascript" src="../../../lib/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../../lib/js/bootstrap-4.0.0.min.js"></script>
<script type="text/javascript" src="../../../lib/js/artDialog/ui-dialog.js"></script>
<script type="text/javascript" src="../../../lib/js/jqpaginator.min.js"></script>
<script type="text/javascript" src="../../../lib/js/vue.min.js"></script>
<script type="text/javascript" src="../../../lib/js/wdate/WdatePicker.js"></script>
<script type="text/javascript" src="../../../lib/common/commonBase.js"></script>
<script type="text/javascript" src="../../../lib/common/component.js"></script>
<script type="text/javascript" src="../../../lib/js/ajaxfileupload.js"></script>

<script type="text/javascript" src="../../../js/system/resourceList.js"></script>

<title>资源列表</title>
</head>
<body>
	<div id="app" class="container-fluid">
		<div class="container-fluid px-0 py-2"><div class="form-text text-muted">当前所在位置&nbsp;&gt;&gt;&nbsp;资源列表</div></div>
		<div class="border-bottom"></div>
		<div class="border my-2">
			<div class="card-header px-4 py-2 bg-light">
				<div class="row">
					<div class="col-10 text-info py-1">查询条件</div>
					<div class="col-1 text-right ">
						<button class="btn btn-info btn-sm" style="width:60px;" @click="query">查 询</button>
					</div>
					<div class="col-1 text-right">
						<button class="btn btn-info btn-sm" style="width:60px;" @click="reset">重 置</button>
					</div>
				</div>
			</div>
			<div class="form-inline py-2">
				 <div class="form-group mr-3">
					<label for="">&nbsp;&nbsp;&nbsp;&nbsp;资源名：</label>
					<input type="text" class="form-control form-control-sm" v-model="inputtext.resourceName" >
				</div>
			</div>		
		</div>
		
		<div class="mb-2 text-right">
			<button class="btn btn-primary btn-sm" style="width:60px;" @click="openAddResWin">添 加</button>
		</div> 
			
		<table class="table table-striped table-bordered table-hover table-sm">
			<thead class="thead-light">
				<tr class="text-center">
					<th>序号</th>
					<th>名称</th>
					<th>URL</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			
			<tbody>
				<tr class="text-center"  v-for="(item, index) in list">
					<td>{{index+1}}</td>
					<td>{{item.resourceName}}</td>
					<td>{{item.resourceUrl}}</td>
					<td>{{item.resourceStatus}}</td>
					<td>
						<a href="javascript:;"  class="text-primary" v-show="item.resourceStatus == 0"  @click="enableRes(item.resourceCode, item.parentCode)">启用</a>
						<a href="javascript:;"  class="text-primary" v-show="item.resourceStatus == 1"  @click="disableRes(item.resourceCode)">禁用</a>
						<a href="javascript:;" class="text-primary"   @click="showUpdateWin(item.resourceCode)">更新</a>
					</td>
				</tr>
				<tr v-if="list.length<=0" class="text-center">
					<td colspan="9">暂无数据</td>
				</tr>
			</tbody>
		</table>
		
		<div>
        	<small class="text-muted">合计条数：<small id="totalCount">0</small>条</small>
        	<small class="text-muted">页码：<small id="currentPage" style="color:red">1</small> /<small id="totalPages">1</small></small>
        	<div  class="pagination-sm float-right">
        		<ul class="pagination" id="pagination"></ul>
        	</div>
        </div>
        
	</div>
</body>
</html>