<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap-4.0.0.min.css">
<link rel="stylesheet" type="text/css" href="../../lib/css/userdefined.cz.css">
<link rel="stylesheet" type="text/css" href="../../lib/js/artDialog/ui-dialog.css">
<script type="text/javascript" src="../../lib/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../lib/js/bootstrap-4.0.0.min.js"></script>
<script type="text/javascript" src="../../lib/js/artDialog/ui-dialog.js"></script>
<script type="text/javascript" src="../../lib/js/vue.min.js"></script>
<script type="text/javascript" src="../../lib/js/wdate/WdatePicker.js"></script>
<script type="text/javascript" src="../../lib/common/commonBase.js"></script>
<script type="text/javascript" src="../../lib/common/component.js"></script>
<script type="text/javascript" src="../../js/golbalCfg/golbalCfg.js"></script>

<title>添加推荐人</title>
</head>
<style type="text/css">
			.dialog_content {
				overflow-x: hidden;
				overflow-y: auto;
				padding: 15px;
			}
		</style>
<body>
		<div id="globalCfgApp" class="container-fluid mt-2">
			<div class="border">
				<div class="card-header px-4 py-2 bg-light">
					<div class="row">
						<div class="col-10 text-info py-1">限额设定</div>
					</div>
				</div>
				<div class="px-4 py-2">
					<div class="row">
					    <div class="form-group col-4">
				            <label>&nbsp;&nbsp;&nbsp;商户单笔限额：</label>
					        <div>
					    		<input type="text" class="form-control form-control-sm"  v-model="globalCfg.singleLimit" placeholder="正整数" maxlength="10">
					        </div>
					    </div>
					    <div class="form-group col-4">
							<label>&nbsp;&nbsp;&nbsp;商户日限额：</label>
					        <div>
					     		 <input type="text" class="form-control form-control-sm"  v-model="globalCfg.dayLimit" placeholder="正整数" maxlength="10">
					        </div>
					    </div>
				   	</div>
				   	<div class="row">
					   	<div class="form-group col-4">
							<label>&nbsp;&nbsp;&nbsp;商户月限额：</label>
					        <div class="">
					     		 <input type="text" class="form-control form-control-sm"  v-model="globalCfg.monthLimit" placeholder="正整数" maxlength="10">
					        </div>
					    </div>
					    
					    <div class="form-group col-4">
							<label>&nbsp;&nbsp;&nbsp;商户日累积次数：</label>
					        <div class="">
					     		 <input type="text" class="form-control form-control-sm"  v-model="globalCfg.dayCount" placeholder="正整数" maxlength="10">
					        </div>
					    </div>
					    
					    <div class="form-group col-4">
							<label>&nbsp;&nbsp;&nbsp;商户月累积次数：</label>
					        <div class="">
					     		 <input type="text" class="form-control form-control-sm"  v-model="globalCfg.monthCount" placeholder="正整数" maxlength="10">
					        </div>
					    </div>
				   	</div>
				   	</div>
				   	
				    <div class="card-header py-2 bg-light">
						<div class="row">
							<div class="col-10 text-info py-1">商户费率设定</div>
						</div>
					</div>
					<div class="px-4 py-2">
					<div class="row">
						<div class="form-group col-4">
							<label>&nbsp;&nbsp;&nbsp;交易费率(百分比):</label>
					        <div>
					     		 <input type="text" class="form-control form-control-sm"  v-model="globalCfg.tradeFee" placeholder="0-10的正整数">
					        </div>
					    </div>
						<div class="form-group col-4">
							<label>&nbsp;&nbsp;&nbsp;T0 自助结算基本费率(元):</label>
					        <div>
					     		 <input type="text" class="form-control form-control-sm"  v-model="globalCfg.t0WithdrawFee" placeholder="0-10的正整数">
					        </div>
					    </div>
					</div>
					<div class="row">  
					    <div class="form-group col-4">
							<label>&nbsp;&nbsp;&nbsp;T0 自助结算工作日额外费率(百分比):</label>
					        <div>
					     		 <input type="text" class="form-control form-control-sm"  v-model="globalCfg.t0WithdrawWorkdayFee" placeholder="0-1的数">
					        </div>
					    </div>
					    
					    <div class="form-group col-4">
							<label>&nbsp;&nbsp;&nbsp;T0 自助结算非工作日额外费率(百分比):</label>
					        <div>
					     		 <input type="text" class="form-control form-control-sm"  v-model="globalCfg.t0WithdrawNonworkdayFee" placeholder="0-1的数">
					        </div>
					    </div>
					</div>
				   
				<div class="form-group">
				        <div class="col-sm-offset-2 col-sm-10">
				            <button type="submit" class="btn btn-primary" @click="add">提交</button>
				        </div>
				    </div>
			</div>
		</div>
	</body>
</html>